.header_section {
  background-color: #1f1f2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky; /* Stick to top */
  top: 0;
  z-index: 1000; /* Stay above other content */
}

.custom_nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin: 0;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 500;
  margin-top: 10px;
  font-size: larger;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f0a500;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .custom_nav-container {
    justify-content: space-between;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
    text-align: right;
    padding-right: 20px;
  }
}
